<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/es/index.html">
            <img src="/static/images/logo_codertec_atual.png" alt="CoderTec">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavEs">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavEs">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link" href="/es/index.html#sobre">CoderTec</a></li>
                <li class="nav-item"><a class="nav-link" href="/es/sobre-mi.html">Sobre mí</a></li>
                <li class="nav-item"><a class="nav-link" href="/es/index.html#servicios">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="/es/index.html#mision">Misión</a></li>
                <li class="nav-item"><a class="nav-link" href="/es/index.html#contacto">Contacto</a></li>

                <!-- Submenu Soluciones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solucionesDropdown" role="button" data-bs-toggle="dropdown">
                        Soluciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="solucionesDropdown">

                        <!-- Websites -->
                        <li><a class="dropdown-item" href="/es/soluciones/websites/">Sitios Web Profesionales</a></li>

                        <!-- Web Apps -->
                        <li><a class="dropdown-item" href="/es/soluciones/webapps/">Web Apps & Dashboards</a></li>

                        <!-- Agentes IA -->
                        <li><a class="dropdown-item" href="/es/soluciones/agentes-ia/">Agentes de IA & Automatización</a></li>

                        <!-- Landing Dentista -->
                        <li><a class="dropdown-item" href="/es/soluciones/landing-dentista.html">Demostración Dentista</a></li>

                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="https://codertec.com.br/blog/">Blog</a></li>

            </ul>
        </div>
    </div>
</nav>

